a {
    text-decoration: none;
}

.w3l-contact .cont-details h5 {
    color: var(--heading-color);
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
  }
  
  .w3l-contact .cont-details p {
    color: var(--font-color);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
  }
  
  .w3l-contact .hours h6 {
    color: var(--heading-color);
    font-size: 18px;
    line-height: 25px;
  }
  
  .w3l-contact .hours p {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--font-color);
    max-width: 350px;
  }
  
  .w3l-contact .hours p a {
    color: var(--font-color);
  }
  
  .w3l-contact .hours p a:hover {
    text-decoration: underline;
  }
  
  .w3l-contact .contact-grids input,
  .w3l-contact .contact-grids textarea {
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
    border: none;
    color: var(--heading-color);
    font-size: 16px;
    width: 100%;
    height: 55px;
    background: var(--bg-color);
    padding: 0px 20px;
    outline: none;
    border-radius: var(--border-radius);
    
    -o-border-image: initial;
    border-image: initial;
    margin-bottom: 10px;
  }
  
  .w3l-contact .contact-grids textarea {
    height: 140px;
    padding: 15px 20px;
  }
  
  .w3l-contact .contact-grids input:focus,
  .w3l-contact .contact-grids textarea:focus {
    border: 1px solid var(--secondary-color);
  }
  
  .w3l-contact .map h5 {
    color: var(--heading-color);
    font-size: 35px;
    line-height: 42px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .w3l-contact .map iframe {
    width: 100%;
    min-height: 330px;
    padding: 10px;
    background: var(--bg-color);
    border-radius: var(--border-radius);
  }
  
  @media (max-width: 568px) {
  
    .w3l-contact .contact-grids input,
    .w3l-contact .contact-grids textarea {
      font-size: 16px;
    }
  }

  .send_button {
    background-color: black;
    color: white;
    padding: 15px 10px;
  }
  .send_button:hover {
    background-color: red;
    transition: 0.5s;
  }
  
  form input,form textarea {
    border-radius: 5px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: gray !important;
    
   
  }
