<h3 class="text-center">Popüler Arabalar</h3>
<hr>
<div class="row">
  <div class="col-md-4 col-lg-4  col-xl-3 col-sm-6 mb-3">
    <div class="d-flex y">
      <div class="card_main">
        <div class="car_image_div">
          <a>
            <img class="car_image"
              src="https://imageio.forbes.com/specials-images/imageserve/5f962df3991e5636a2f68758/0x0.jpg?format=jpg&crop=812,457,x89,y103,safe&width=1200"
              alt="">
          </a>
        </div>
        <div class="information d-flex">
          <a href="#" class="featured">
            <h6>FEATURED</h6>
          </a>
          <a class="featured_number" href=""><i class="fa-solid fa-image" style="margin-right: 5px;"></i>85</a>
          <a class="like_button" href="#"><i class="fa-regular fa-heart"></i></a>
        </div>
        <div>
          <div class="card">
            <div class="container">
              <br>
              <div class="d-flex justify-content-between">
                <h6 class="blue"><i class="fa-solid fa-copyright"></i> Bugatti</h6>
                <span><i class="fa-solid fa-location-dot"></i>İstanbul,TR</span>
              </div>
              <h6 class="green">Veyron</h6>
              <h6><i class="fa-solid fa-money-bill"></i> 1080 TL</h6>
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-gas-pump iconsize"></i><span style="margin-left: 8px;">Benzin</span>
                </div>
                <div>
                  <i class="fa fa-sitemap iconsize"></i>
                  <span style="margin-left: 6px;">Otomatik</span>
                </div>
              </div>
              <br>
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-dharmachakra iconsize"></i><span style="margin-left: 8px;">ABS Fren</span>
                </div>
                <div>
                  <i class="fa-solid fa-gauge iconsize"></i>
                  <span style="margin-left: 8px;">1000 CC</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-4  col-xl-3 col-sm-6  mb-3">
    <div class="d-flex y">
      <div class="card_main">
        <div class="car_image_div">
          <a>
            <img class="car_image"
              src="https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/2020-Chevrolet-Corvette-Stingray/0x0.jpg?format=jpg&crop=4560,2565,x790,y784,safe&width=960"
              alt="">
          </a>
        </div>
        <div class="information d-flex">
          <a href="#" class="featured">
            <h6>FEATURED</h6>
          </a>
          <a class="featured_number" href=""><i class="fa-solid fa-image" style="margin-right: 5px;"></i>149</a>
          <a class="like_button" href="#"><i class="fa-regular fa-heart"></i></a>
        </div>
        <div>
          <div class="card">
            <div class="container">
              <br>
              <div class="d-flex justify-content-between">
                <h6 class="blue"><i class="fa-solid fa-copyright"></i> Chevrolet</h6>
                <span><i class="fa-solid fa-location-dot"></i> İzmir,TR</span>
              </div>
              <h6 class="green">Corvette-Stingray</h6>
              <h6><i class="fa-solid fa-money-bill"></i> 725 TL</h6>
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-gas-pump iconsize"></i><span style="margin-left: 8px;">Benzin</span>
                </div>
                <div>
                  <i class="fa fa-sitemap iconsize"></i>
                  <span style="margin-left: 6px;">Otomatik</span>
                </div>
              </div>
              <br>
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-dharmachakra iconsize"></i><span style="margin-left: 8px;">ABS Fren</span>
                </div>
                <div>
                  <i class="fa-solid fa-gauge iconsize"></i>
                  <span style="margin-left: 8px;">1000 CC</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 col-xl-3 col-sm-6  mb-3">
    <div class="d-flex y">
      <div class="card_main">
        <div class="car_image_div">
          <a>
            <img class="car_image"
              src="https://cars.usnews.com/static/images/Auto/custom/12059/2013_Escape_Gallery2.jpg" alt="">
          </a>
        </div>
        <div class="information d-flex">
          <a href="#" class="featured">
            <h6>FEATURED</h6>
          </a>
          <a class="featured_number" href=""><i class="fa-solid fa-image" style="margin-right: 5px;"></i>85</a>
          <a class="like_button" href="#"><i class="fa-regular fa-heart"></i></a>
        </div>
        <div>
          <div class="card">
            <div class="container">
              <br>
              <div class="d-flex justify-content-between">
                <h6 class="blue"><i class="fa-solid fa-copyright"></i> Ford</h6>
                <span><i class="fa-solid fa-location-dot"></i> Konya,TR</span>
              </div>
              <h6 class="green">Focus</h6>
              <h6><i class="fa-solid fa-money-bill"></i> 350 TL</h6>
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-gas-pump iconsize"></i><span style="margin-left: 8px;">Benzin</span>
                </div>
                <div>
                  <i class="fa fa-sitemap iconsize"></i>
                  <span style="margin-left: 6px;">Otomatik</span>
                </div>
              </div>
              <br>
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-dharmachakra iconsize"></i><span style="margin-left: 8px;">ABS Fren</span>
                </div>
                <div>
                  <i class="fa-solid fa-gauge iconsize"></i>
                  <span style="margin-left: 8px;">1000 CC</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 col-xl-3 col-sm-6  mb-3">
    <div class="d-flex y">
      <div class="card_main">
        <div class="car_image_div">
          <a>
            <img class="car_image" src="https://www.thedrive.com/content/2022/02/12855_2018_Soul-2.jpg?quality=85"
              alt="">
          </a>
        </div>
        <div class="information d-flex">
          <a href="#" class="featured">
            <h6>FEATURED</h6>
          </a>
          <a class="featured_number" href=""><i class="fa-solid fa-image" style="margin-right: 5px;"></i>37</a>
          <a class="like_button" href="#"><i class="fa-regular fa-heart"></i></a>
        </div>
        <div>
          <div class="card">
            <div class="container">
              <br>
              <div class="d-flex justify-content-between">
                <h6 class="blue"><i class="fa-solid fa-copyright"></i> KIA</h6>
                <span><i class="fa-solid fa-location-dot"></i> Antalya,TR</span>
              </div>
              <h6 class="green">Optima K5</h6>
              <h6><i class="fa-solid fa-money-bill"></i> 300 TL</h6>
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-gas-pump iconsize"></i><span style="margin-left: 8px;">Benzin</span>
                </div>
                <div>
                  <i class="fa fa-sitemap iconsize"></i>
                  <span style="margin-left: 6px;">Otomatik</span>
                </div>
              </div>
              <br>
              <div class="d-flex justify-content-between">
                <div>
                  <i class="fa-solid fa-dharmachakra iconsize"></i><span style="margin-left: 8px;">ABS Fren</span>
                </div>
                <div>
                  <i class="fa-solid fa-gauge iconsize"></i>
                  <span style="margin-left: 8px;">1000 CC</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="d-flex" style="justify-content: center;align-items: center;">
  <a href="#" routerLink="cars" class="text-center btn all_cars">Tüm Arabaları Gör</a>
</div>
<router-outlet></router-outlet>
