
<br>
<section>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Kayıt Olun</p>
  
                  <form class="mx-1 mx-md-4" [formGroup]="registerForm">

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control" formControlName="userName" />
                        <label class="form-label" for="form3Example1c">Kullanıcı Adınız</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="number" class="form-control" formControlName="age" />
                        <label class="form-label" for="form3Example1c">Yaşınız</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control" formControlName="firstName" />
                        <label class="form-label" for="form3Example1c">İsminiz</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control"  formControlName="lastName" />
                        <label class="form-label" for="form3Example1c">Soy İsminiz</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c" class="form-control"  formControlName="email" />
                        <label class="form-label" for="form3Example3c">E-Mailiniz</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text"  class="form-control"  formControlName="phoneNumber" />
                        <label class="form-label" for="form3Example3c">Telefon Numarası</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text"  class="form-control"  formControlName="nationalityId" />
                        <label class="form-label" for="form3Example3c">Tc No</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control"  formControlName="about" />
                        <label class="form-label" for="form3Example3c">Hakkımda</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password"  class="form-control"  formControlName="password" />
                        <label class="form-label" for="form3Example4c">Şifreniz</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <span style="color: red;font-size: 11px;">* ile işaretlenen alanlar zorunludur.</span>
                      </div>
                      <div class="col-lg-6">
                        <span>Hesabınız Var Mı? <a href="/login" style="color:#dc3545!important">Giriş Yapın</a></span>
                      </div>
                    </div>
                    <br>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button (click)="register()" type="button" class="btn btn-primary btn-lg">Kayıt Ol</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://thumbs.dreamstime.com/b/print-194001655.jpg"
                    class="img-fluid" alt="Sample image" style="border-radius: 5px;">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>