* {
    color: white;
}
.w3l-footer .w3l-footer-16-main {
  background: black;
}

.w3l-footer .w3l-footer-16-main h3 {
  font-size: 20px;
  line-height: 25px;
  color: var(--heading-color);
  margin-bottom: 30px;
  font-weight: 700;
}

.w3l-footer .w3l-footer-16-main h4 {
  font-size: 18px;
  line-height: 25px;
  color: var(--heading-color);
  margin-bottom: 30px;
  font-weight: 500;
}

.w3l-footer .ad-text-inf {
  margin-bottom: 20px;
}

.w3l-footer span.color-ubd {
  color: var(--font-color);
  opacity: 0.5;
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-bottom: 2px;
}

.w3l-footer .footer-gd-16 li {
  display: block;
  list-style: none;
  margin: 10px 0;
}

.w3l-footer .footer-gd-16 li a {
  color: white;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
}

.w3l-footer .end-column {
  background-color: var(--bg-color);
  padding: 2em;
  border-radius: var(--border-radius);
}

.w3l-footer .below-section,
.w3l-footer .para-content-footer {
  border-top: 1px solid #eaeaea;
}

.w3l-footer .w3l-footer-16-main h3 a:hover,
.w3l-footer .footer-gd-16 li a:hover,
.w3l-footer .w3l-footer-16-main p a:hover {
  opacity: 0.8;
  color: var(--primary-color);
}

.w3l-footer .w3l-footer-16-main p {
  line-height: 22px;
  color: var(--font-color);
  font-size: 16px;
}

.w3l-footer .w3l-footer-16-main p a {
  color: var(--heading-color);
}

.w3l-footer a.footer-small-text {
  color: var(--heading-color);
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s ease-in;
}

.w3l-footer a.footer-small-text:hover {
  background: var(--secondary-color);
  transition: 0.3s ease-in;
}

.w3l-footer .text-sub-small {
  color: #656f7b;
  font-size: 14px;
  margin-top: 4px;
}

.w3l-footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.w3l-footer .subscribe input[type="email"] {
  background: var(--bg-light);
  border: 1px solid rgb(59, 59, 110);
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: var(--heading-color);
  font-weight: 600;
}

.w3l-footer .subscribe button {
  text-align: center;
  background: red;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: var(--border-radius);
}

.w3l-footer .subscribe button:hover {
  transition: all .5s ease;
}

.w3l-footer .subscribe button img {
  vertical-align: middle;
}

.w3l-footer #movetop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 45px;
  background: var(--primary-color);
  padding: 0;
  opacity: 0.7;
  transition: 0.3s ease;
  border-radius: var(--border-radius);
}

.w3l-footer #movetop:hover {
  opacity: 1;
  transition: 0.3s ease;
}

.w3l-footer #movetop span.fa {
  line-height: 45px;
  color: #fff;
  font-size: 22px;
}

.w3l-footer .below-section {
  justify-content: space-between;
}

.w3l-footer ul.social li,
.w3l-footer ul.jst-link li {
  display: inline-block;
  margin-right: 5px;
}

.w3l-footer ul.social li a {
  color: var(--heading-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.w3l-footer ul.social li a:hover {
  background: var(--secondary-color);
  transition: 0.3s ease;
  color: #fff;
}

.w3l-footer ul.social li a span {
  font-size: 15px;
  line-height: 36px;
}

@media screen and (max-width: 1080px) {
  .w3l-footer .footer-gd-16 li a {
    font-size: 15px;
    line-height: 23px;
  }
}

@media screen and (max-width: 1190px) {
  .w3l-footer .subscribe button {
    width: 30%;
  }
}

@media screen and (max-width: 991px) {
  .w3l-footer .below-section {
    display: block !important;
  }

  .w3l-footer .columns-2 {
    text-align: center;
  }
}

@media screen and (max-width: 801px) {
  .w3l-footer .w3l-footer-16-main h3 {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 640px) {
  .w3l-footer .w3l-footer-16-main {
    padding: 3em 0;
  }

  .w3l-footer .footer-gd-16 li {
    margin: 5px 0;
  }

  .w3l-footer .subscribe button {
    padding: 12px 10px;
  }
}

@media screen and (max-width: 420px) {
  .w3l-footer .w3l-footer-16-main {
    padding: 2em 0;
  }

  .w3l-footer .subscribe button {
    width: 20%;
  }
}
i {
    font-size: 20px;
}
