<footer>
<section class="w3l-footer">
      <div class="w3l-footer-16-main py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 column">
              <div class="row">
                <div class="col-md-4 column">
                  <h3>Şirketimiz</h3>
                  <ul class="footer-gd-16">
                    <li><a  routerLink="/">Ana Sayfa</a></li>
                    <li><a>Hakkımızda</a></li>
                    <li><a href="services.html">Servisler</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Bize Ulaşın</a></li>
                  </ul>
                </div>
                <div class="col-md-4 column mt-md-0 mt-4">
                  <h3>Yararlı Linkler</h3>
                  <ul class="footer-gd-16">
                    <li><a href="#url">Destinations</a></li>
                    <li><a href="#url">Şubelerimiz</a></li>
                    <li><a href="#url">Medya</a></li>
                    <li><a href="about.html">Şirketimiz Hakkında</a></li>
                    <li><a href="#url">Paketlerimiz</a></li>
                  </ul>
                </div>
                <div class="col-md-4 column mt-md-0 mt-4">
                  <h3>Servislerimiz</h3>
                  <ul class="footer-gd-16">
                    <li><a href="#url">Gizlilik Politikası</a></li>
                    <li><a href="#url">Kurallarımız</a></li>
                    <li><a href="services.html">Servisler</a></li>
                    <li><a href="landing-single.html">Sayfalar</a></li>
                    <li><a href="#url">Satıcılarımız</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
              <h3>Abone </h3>
              <div class="end-column">
                <h4>Son güncellemeleri ve teklifleri alın.</h4>
                <form action="#" class="subscribe" method="post">
                  <input type="email" name="email" placeholder="Email Adresiniz" required="">
                  <button type="submit">Abone Ol</button>
                </form>
                <p>Spam mail gönderilmez.</p>
              </div>
            </div>
          </div>
          <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
            <div class="columns text-lg-left text-center">
              <p>Tüm hakları saklıdır.</p>
            </div>
            <div class="columns-2 mt-lg-0 mt-3">
              <ul class="social">
                <li><a><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li><a><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li><a><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li><a><i class="fa-brands fa-square-google-plus"></i></a>
                </li>
                <li><a><i class="fa-brands fa-github"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };
  
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }
  
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- //move top -->
      <script>
        $(function () {
          $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
          })
        });
      </script>
    </section>
    <!-- //footer -->
  </footer>