<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Hoşgeldiniz</h3>
      <p>Yeni bir renk eklemek için formu doldurun</p>
      <input routerLink="" type="submit" name="" value="Ana Sayfa" /><br />
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Renk Ekle</h3>
          <div class="row register-form">
            <div class="col-md-12">
              <form [formGroup]="colorForm">
                <div class="form-group">
                  <label>Renk İsmi</label>
                  <input type="text" formControlName="name" class="form-control"
                    placeholder="Renk" />
                </div>
                <span style="color: red;margin-bottom: 1rem;display: inline-block;">* ile işaretlenen alanların
                  doldurulması zorunludur</span>
                <button type="button" (click)="addColor()" class="btn btn-primary" style="margin-left:5rem">Renk
                  Ekle</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

