<div  *ngIf="dataLoaded==false"  class="d-flex flex-column" style="justify-content: center;align-items:center;">
    <div class="spinner-border text-danger" role="status">
    </div>
    <div>
      <span>Veriler yükleniyor...</span>
    </div>
    </div>
    
      <table *ngIf="dataLoaded!=false" class="table">
        <thead>
          <tr>
            <th scope="col">Marka İsmi</th>
            <th scope="col">İsim</th>
            <th scope="col">Soyİsim</th>
            <th scope="col">Kiralama Tarihi</th>
            <th scope="col">Geri Veriş Tarihi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of rentals">
            <td>{{c.brandName}}</td>
            <td>{{c.firstName}}</td>
            <td>{{c.lastName}}</td>
            <td>{{c.rentDate}}</td>
            <td>{{c.returnDate}}</td>
          </tr>
        </tbody>
      </table>
    