body {
    background-color: #f7f6f6
}

.maincard {
    position: relative;
    width: 250px;
    height: 300px;
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease
}

.thecard:hover {
    transform: rotateY(180deg)
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hidden;
    background: #fff;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #eee;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    padding: 10px;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: hidden;
    background: black;
    color: #fff;
    border-radius: 10px;
    transform: rotateY(180deg);
    border: 1px solid #eee;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    padding: 10px;
}

.user_name {
    color: #eee;
    font-size: 10px;
    margin-top: 0px
}

.about {
    font-size: 12px
}

.p-3_ {
	padding: 17px;
}

  .img_testimonial {
    z-index: 1;
  }
  .theback:hover {
	z-index: 1;
  }

  .img_testimonial:hover {
    z-index: -1;
  }


.star_bg_yellow {
	color: red;
}

.i_size35 {
	font-size: 35px;
}

@media (max-width: 768px) {
  .maincard {
  padding-left: 0px;
  padding: 4rem;
  width: 350px;
  height: 350px;
}
.border_bottom {
  margin-top: 60px;
}

}

@media (max-width: 1200px) {
  
.border_bottom {
  margin-top: 30px;
}

}
