<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap" rel="stylesheet">

<br><br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-8">
      <div class="wo-sectionhead">
        <div class="wo-sectionhead__title text-center">
          <h2 style="font-family: 'Pacifico', cursive;">Yeni <em style="color: #fdc500;">Arabalar</em></h2>
        </div>
        <div class="wo-sectionhead__description text-center">
          <h4 style="font-family: 'Pacifico', cursive;">Araba Kiralamada Yeni Dönem.</h4>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="new_index" style="background-image: url(https://i.pinimg.com/originals/10/f7/a1/10f7a1301c16bcc8e37a341b5ad26ad2.jpg);background-size: cover;border-radius: 10px;">
  <div class="d-flex p-5" style="flex-direction: column;">
    <h2 style="color: white;">Kirala</h2>
    <h4 style="color: white;">Hızlı, güvenli ve ucuza kirala ! Araba kiralamada yeni dönem. </h4><br>
  </div>
</div>
<br>
<router-outlet></router-outlet>
