<br>
<div class="d-flex justify-content-center align-items-center">
<div>
  <div class="card text-center" style="width: 500px; height:45rem;">
    <div class="card-header">
      <h3>Şifrenizi Sıfırlayın</h3>
    </div>
    <div class="card-body" style="margin-top:3rem;">
      <img style="width: 50%;"
        src="https://img.freepik.com/premium-vector/bronze-lock-icon-white-background-flat-design-illustration-stock-vector-graphics_668389-92.jpg?w=2000"
        alt="">
        <form [formGroup]="passwordUpdateForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Yeni Şifre</label>
              <input type="password" formControlName="password" class="form-control" aria-describedby="emailHelp">
            </div>
            <br>
            <div class="form-group">
                <label for="exampleInputEmail1">Şifreyi Tekrar Girin</label>
                <input type="password" class="form-control"  aria-describedby="emailHelp" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" >
                <input type="text" hidden value="{{setEmail()}}" class="form-control" formControlName="email" value="asd"  aria-describedby="emailHelp" >
            </div>
              <br>
            <button style="width:10rem;" type="button" (click)="updatePassword()" class="btn btn-success">Sıfırla</button>
          </form>

    </div>
  </div>
</div>
</div>
<br>
